.visually-hidden {
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  white-space: nowrap !important;
  clip: rect(0, 0, 0, 0) !important;
}

.tit-section {
  display: inline-block;
  font-size: 34px;
  font-weight: 800;
  color: #000;
}

.section-1 .tit-section,
.section-2 .tit-section, 
.section-3 .tit-section,
.section-5 .tit-section {
  color: #000002;
}

.section-4 .tit-section {
  color: #fff;
}

.section-5 .tit-section {
  margin-bottom: 40px;
}

.tit-line {
  position: absolute;
  width: 21px;
  height: 5px;
  top: 95px;
  background-color: #18d09e;
}

.subtit-section {
  display: block;
  margin-top: 76px;
  margin-bottom: 42px;
  font-size: 26px;
  font-weight: 500;
}

.section-1 .subtit-section {
  margin-top: 45px;
  margin-bottom: 10px;
}

.txt-section {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  color: #000002;
}

.section-1 .txt-section {
  line-height: 1.35em;
}

.section-2 .txt-section,
.section-3 .txt-section {
  margin-top: 40px;
}

.txt-section + .txt-section {
  margin-top: 20px !important;
}

.cont-img {
  display: block;
  width: 100%;
  height: auto;
}

.tit-list {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 400;
}

.txt-list {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}

.bold {
  font-weight: 700;
}

#pRoot {
  position: relative;
  width: 100%;
  height: 100%;
}

.btn-aside {
  z-index: 10;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 20px;
  right: 18px;
  cursor: pointer;
}

.list-aside {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 102px 30px 0 30px;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  background-color: rgba(2,17,84,.95);
}

.list-aside.is-active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
} 

.list-aside > li {
  z-index: 1;
  padding: 20px 0;
}

.link-aside {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.txt-aside {
  display: inline;
  font-size: 1.125em;
  font-weight: 500;
  color: #FFF;
}

.ico-open {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: url('../images/btn-menu.png') center center no-repeat;
}

.ico-close {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: url('../images/btn-close.png') center center no-repeat;
}

.p-header {
  z-index: 7721;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  -webkit-transition: background-color .2s ease;
  -moz-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
  color: #fff;
  background-color: #02104e;
}

.p-header.header-shrink {
  background-color: #040d41;
}

.p-header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 0 25px;
}

.logo,
.link-logo {
  display: block;
  width: 130px;
  height: auto;
}

.btn-announcement {
  margin-left: 32px;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #0341dd;
}

.p-header.header-shrink .btn-announcement {
  color: #fff;
  background-color: #18d09e;
}

.p-main {
  position: relative;
  padding-top: 80px;
}

.visual-section {
  overflow: hidden;
  position: relative;
  min-height: 700px;
  height: 100vh;
  background: url('../images/bg-visual.jpg') center bottom no-repeat;
  background-size: cover;
  background-color: #040d41;
}

.visual-section .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1130px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 25px;
  color: #fff;
}

.visual-txt {
  position: relative;
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
}

.visual-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.img-visual {
  display: block;
  width: 100%;
  height: auto;
}

.visual-txt h2 {
  padding-top: 40px;
  padding-bottom: 32px;
  font-size: 48px;
  font-weight: 400;
  line-height: 0.9em;
}

.visual-txt strong {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}

.btn-whitepaper {
  position: absolute;
  width: 280px;
  height: 80px;
  left: 50%;
  margin-top: 80px;
  padding: 24px 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background-color: #0341dd;
}

.section-1 {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 100px 0 0 0;
  background-color: #fff;
}

.section-2 {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 100px 0 0 0;
  background-color: #fff;
}

.section-3 {
  overflow: hidden;
  position: relative;
  max-width: 1130px;
  margin: 0 auto;
  padding: 100px 0 100px;
}

.section-4 {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 100px 0;
  color: #fff;
  background-color: #040d41;
}

.section-5 {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 100px 0;
  background-color: #fff;
}

.section-1 .inner,
.section-2 .inner,
.section-3 .inner,
.section-4 .inner,
.section-5 .inner {
  padding: 0 20px;
}

.section-1 .wrap-img,
.section-2 .wrap-img,
.section-3 .wrap-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.section-4 .wrap-img {
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-1 img {
  max-width: 901px;
}

.section-2 img {
  max-width: 1002px;
}

.section-3 img {
  max-width: 1002px;
}

.section-4 img {
  max-width: 1030px;
}

.section-4 .wrap-list {
  width: 100%;
}

.section-4 li + li {
  margin-top: 40px;
}

.section-5 .wrap-txt {
  width: 100%;
}

.section-5 .wrap-cont {
  width: 100%;
  margin: 0 auto;
}

.section-5 .item-cont {
  width: 100%;
}

.section-5 .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 118px;
  border: 1px solid #02104e;
  border-radius: 5px;
}

.box-txt {
  margin: 24px 0 50px 0;
}

.cont-3 .box-txt {
  margin: 24px 0 0 0;;
}

.box-txt p {
  font-size: 18px;
  line-height: 1.4em;
  color: #000002;
}

.link-partner {
  display: inline-block;
  width: 100%;
  margin-top: 25px;
  padding: 25px 0;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #3661fd;
}

.p-footer {
  color: #999;
  background-color: #111d49;
}

.p-footer .inner {
  height: 150px;
  margin: 0 auto;
}

.wrap-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.wrap-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 20px;
}

.wrap-link li:nth-child(1),
.wrap-link li:nth-child(2) {
  margin-right: 15px;
}

.link-terms {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

.txt-copyright {
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
